{% for p in problems %}
<div class="column">
  <div class="ui card">
    <div class="image">
      <div class="swiper-container">
        <div class="swiper-wrapper">
        {% for i in p.imgs %}
          <a class="swiper-slide problem-image" images="{{i}}">
            <img class="problem-thumb" src="/public/assets/image/problem/{{i}}">
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content">
        <div class="right floated centered ui large {{p.grade_color}} label">
          {{p.grade_name}}
        </div>
        <div class="header problem-card-title">
          {% if is_monthly %}
          No.{{p.monthly_order}}
          {% else %}
          {{p.name}}
          {% endif %}
        </div>
      </div>
      <div class="content problem-content">
        <div class="right floated centered ui large teal basic label">
          {{p.wall_name}}
        </div>
        <div class="meta">
          <span class="date problem-card-date">{{p.created_at}}</span>
        </div>
        <div class="description"> 
          設定者：{{p.setter}}
        </div>
      </div>
    </div>
    {% if is_monthly %}
    {% else %}
    <div class="extra content">
      <a class="ui good" val="g" pid="{{p.id}}">
        <span class="left floated">
          <i class="external alternate large thumbs up outline grey icon"></i>
          <label class="value">{{p.good}}</label>
        </span>
      </a>
      <a class="ui bad" val="b" pid="{{p.id}}">
        <span class="left floated">
          <i class="external alternate large thumbs down outline grey icon"></i>
          <label class="value">{{p.bad}}</label>
        </span>
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}